<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-50">
        {{ site.title }}<br/>
        Konzeption // Entwicklung // Strategie
      </div>
      
      <div class="footer-col footer-col-50">
        {% include icons.html %}
      </div>

    </div>

     <div class="footer-col-wrapper">

      <div class="footer-col" style="float: right;">
        <p>{{ site.description }}</p>
      </div>

      <div class="footer-col" style="float: right; color: white;">
        © <script>document.write(new Date().getFullYear())</script> Anton Stepan. All Rights Reserved.
      </div>
    </div>

  </div>

</footer>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script src="{{ "/assets/js/main.js" | prepend: site.baseurl }}"></script>
