<footer class="site-footer">

  <div class="wrapper">

    <div class="footer-col-wrapper">

      <div class="footer-col footer-col-50">
        <ul class="contact-list">
          <li>{{ site.title }}</li>
          <li>Konzeption // Entwicklung // Strategie </li>
        </ul>
      </div>
      
      <div class="footer-col footer-col-50">
        {% include icons.html %}
      </div>

    </div>

     <div class="footer-col-wrapper">

      <div class="footer-col" style="float: right;">
        <p>{{ site.description }}</p>
      </div>

      <div class="footer-col" style="float: right; color: white;">
        © <script>document.write(new Date().getFullYear())</script> Anton Stepan. All Rights Reserved.
      </div>
    </div>

  </div>

</footer>
