/**
 * Global Goblin
 */
.full-width {
    margin: 0 auto;
}

.white {
    background-color: #fff
}

.gray {
    background-color: #F9F9F9;
}

.gray-color {
    color: $grey-color-light;
}

.text-center {
    text-align: center;
}


.no-dec {
    text-decoration: none;
}

.section-title {
    margin-top: 40px;
    margin-bottom: 55px;
    font-size: 2.3rem;
}

.hello {
    padding-top: 20px;
    float: right;
    a, a:hover {
        text-decoration: none;
    }
}

.page-header {
    width: 100%;
    height: 15vh;
    color: $brand-color !important;
    a {
        color: $brand-color !important;
    }
}

.hero {
    height: 80vh;
    width: 100%;
    background: url(../images/nyc-hero.png) no-repeat top center !important;
    background-size: cover !important;
    overflow: hidden;
    padding: 120px 0 0;
    position: relative;
    background: #16222A;

    .caption {
        width: 100%;
        height: 100%;
        display: -webkit-flex;
        display: flex;
        -webkit-align-items: center;
        align-items: center;
        -webkit-flex-direction: row;
        flex-direction: column;
        -webkit-justify-content: center;
        justify-content: center;

        text-align: center;
        h1 {
            font-size: 5vh;
            color: #fff;
            margin-bottom: 0px;
            font-weight: 700;
        }

        h2 {
            font-size: 3.5vh;
            color: #fff;
            font-weight: 500;
            margin-bottom: 10%;
        }

    }
}

@include media-query($on-palm) {
    .hero {
        .caption {
            h1 {
                font-size: 45px;
                font-weight: 800;
                line-height: 42px;
            }

            h2 {
                font-size: 28px;
            }
        }
    }
}

.u-red {
    text-decoration: none;
    border-bottom: 2px solid $accent-color !important;
    padding-bottom: 2px;
}

.u-red-b {
    text-decoration: none;
    border-bottom: 4px solid $accent-color !important;
    padding-bottom: 3px;
}

.nav-sticky {
    position: fixed !important;
    background-color: #fff !important;
    box-shadow: 0 1px 0 rgba(0,0,0,.10196078);
    width: 100%;
    height: 56px;
    padding: 0px !important;
    left: 0px;
    top: 0px;

    .wrapper, .row, nav {
        height: 100%;
    }

    .row {
        color: $brand-color;

        a {
            color: $grey-color-light;
        }

        a:hover {
            padding-bottom: 5px;
            color: $grey-color-dark;
            text-decoration: none;
            border-bottom: 4px solid #DE5554 !important;
        }
    }
}

.transition {
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

.header-nav {
    top: 0;
    z-index: 42;
    background: transparent;
    width: 100%;
    margin: 0 auto;
    padding: 42px 0;
    position: absolute;

    .row {
        -webkit-display: flex;
        display: flex;
        -webkit-justify-content:  space-between;
        justify-content:  space-between;
        -webkit-align-items: center;
        align-items: center;
    }

    a {
        margin-right: 15px;
        margin-left: 15px;
        font-size: 18px;
        color: #FFF;
        letter-spacing: 0.5px;
    }

    a:hover {
        padding-bottom: 5px;
        color: #fff;
        text-decoration: none;
        border-bottom: 4px solid $accent-color !important;
    }

    .brand {
        color: $brand-color;
    }

    .menu {
    }

}

.description {
    height: 100%;
    -webkit-display: flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

/**
 * Intro
 */
.intro, .portfolio, .contact, .services {
    a:hover {
        text-decoration: none;
    }

    padding-bottom: 70px;
}

.intro {
    min-height: 30vh;
}

.portfolio, .contact, .services {
    min-height: 40vh;
}

.what {

    h2 {
        margin-bottom: 0px;
    }
    h4 {
        color: $grey-color-light;
    }

    .column {
        -webkit-display: flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: center;
        align-items: center;
    }
}

.portfolio {

    h2 {
        margin-bottom: 35px;
    }

    .row {
        height: 280px;
        margin-bottom: 30px;

        a {
            color: $brand-color;
            margin-top: 30px;
            margin-bottom: 50px;
        }
    }

    img {
        width: 100%;
        height: 150px;
    }

    .tools {
        font-size: 0.8rem;
        text-transform: uppercase;
        color: $grey-color;
        margin-bottom: 0px;
    }

    .info-container {
        -webkit-display: flex;
        display: flex;
        -webkit-flex-direction: column;
        flex-direction: column;
        -webkit-align-items: flex-end;
        align-items: flex-end;
    }
}


/**
 * Site header
 */
.site-header {
    border-top: 5px solid $grey-color-dark;
    border-bottom: 1px solid $grey-color-light;
    min-height: 56px;

    // Positioning context for the mobile navigation icon
    position: relative;
}

.site-title {
    font-size: 26px;
    font-weight: 300;
    line-height: 56px;
    letter-spacing: -1px;
    margin-bottom: 0;
    float: left;

    &,
    &:visited {
        color: $grey-color-dark;
    }
}

.site-nav {
    float: right;
    line-height: 56px;

    .menu-icon {
        display: none;
    }

    .page-link {
        color: $text-color;
        line-height: $base-line-height;

        // Gaps between nav items, but not on the last one
        &:not(:last-child) {
            margin-right: 20px;
        }
    }

    @include media-query($on-palm) {
        position: absolute;
        top: 9px;
        right: $spacing-unit / 2;
        background-color: $background-color;
        border: 1px solid $grey-color-light;
        border-radius: 5px;
        text-align: right;

        .menu-icon {
            display: block;
            float: right;
            width: 36px;
            height: 26px;
            line-height: 0;
            padding-top: 10px;
            text-align: center;

            > svg {
                width: 18px;
                height: 15px;

                path {
                    fill: $grey-color-dark;
                }
            }
        }

        .trigger {
            clear: both;
            display: none;
        }

        &:hover .trigger {
            display: block;
            padding-bottom: 5px;
        }

        .page-link {
            display: block;
            padding: 5px 10px;

            &:not(:last-child) {
                margin-right: 0;
            }
            margin-left: 20px;
        }
    }
}



/**
 * Site footer
 */
.site-footer {
    background-color: $footer-color;
    padding: $spacing-unit 0;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.contact-list,
.social-media-list {
    list-style: none;
    margin-left: 0;
}

.footer-col-wrapper {
    font-size: 15px;
    padding-top: 30px;
    color: $grey-color-light;
    margin-left: -$spacing-unit / 2;
    @extend %clearfix;
}

.footer-col {
    float: left;
    margin-bottom: $spacing-unit / 2;
    padding-left: $spacing-unit / 2;
}

.footer-col-1 {
    width: -webkit-calc(35% - (#{$spacing-unit} / 2));
    width:         calc(35% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
    width: -webkit-calc(20% - (#{$spacing-unit} / 2));
    width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
    width: -webkit-calc(45% - (#{$spacing-unit} / 2));
    width:         calc(45% - (#{$spacing-unit} / 2));
}

.footer-col-50 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
}

.footer-icons {
    float: right;
}

@include media-query($on-laptop) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (#{$spacing-unit} / 2));
        width:         calc(50% - (#{$spacing-unit} / 2));
    }

    .footer-col-3 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }

    .footer-col-50 {
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }

    .footer-icons {
        margin-top: 40px;
        float: none;
    }
}

@include media-query($on-palm) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (#{$spacing-unit} / 2));
        width:         calc(100% - (#{$spacing-unit} / 2));
    }

    .footer-icons {
        margin-top: 40px;
        float: none;
    }
}



/**
 * Page content
 */
.page-content {
    min-height: 60vh;
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}


.circle {
    border-radius: 50%;
    width: 100px;
    height: 100px;
    background-color: $accent-color;
}

.impressum {
    color: $grey-color-light !important;
}
